$color-blue: #666CA3;
$color-dark-blue: #13183F;
$color-grey: #83869A;
$color-pink-dark: #F74780;
$color-pink-light: #FFA7C3;
$color-white: #FFFFFF;
$color-pink: #F02AA6;
$color-orange: #FF6F48;
$color-blue: #4851FF;

.flex {

  &__container {
    display: flex;
  }

  &--grow-1 {
    flex-grow: 1;
  }
  &--grow-2 {
    flex-grow: 2;
  }
  &--grow-3 {
    flex-grow: 3;
  }
  &--grow-4 {
    flex-grow: 4;
  }

}

.display {

  &--is-none {
    display: none;
  }
}


.button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 10px;
  border-color: #13183F;
  border-style: solid;
  border-width: 1px;
}

/* Footer styles */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}