$color-white: #fff;
$color-accent-blue: hsl(248, 32%, 49%);
$color-primary-green: hsl(154, 59%, 51%);
$color-neutral-dark-blue: hsl(249, 10%, 26%);
$color-neutral-grayish-blue: hsl(246, 25%, 77%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.align__text-verticle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 1.5em;

  &--input {
    padding: .5em 0 .5em 0;
    margin-bottom: 1em;
    width: 100%;
  }

  &--button {
    width: 100%;
    padding: .75em 0 .75em 0;
    border: none;
    // box-shadow: 2px 4px $color-primary-green;
  }
}

.text {
  &--white {
    color: $color-white;
  }
}

.background {

  &--white {
    background-color: $color-white;
  }
  
  &--blue {
    background-color: $color-accent-blue;
  }
  
  &--green {
    background-color: $color-primary-green;
  }

  &--darkBlue {
    background-color: $color-neutral-dark-blue;
  }
  
  &--grayishBlue {
    background-color: $color-neutral-grayish-blue;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: 100vh;
}

.col {
  background: salmon;
  flex: 1;
  padding: 20px;
}

@media (max-width: 680px) {
  .container {
    display: block;
  }

  .container .col {
    // width: 100%;
    margin: 0 0 10px 0;
    height: 100vh;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}